@import "tailwindcss";
@plugin "@tailwindcss/typography";

@media print {
  body > * {
    display: none !important;
  }
  
  .print-target,
  .print-target * {
    display: block !important;
  }
  
  .print-target {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    background: white;
  }
}
